.dashboard {
  background: rgb(250, 250, 250);
  width: 100%;
  height: 15em;
  padding: 1em;
  padding-left: 4em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.welcome {
  margin: 1em 0;
  color: rgba(0, 15, 11, 0.699);
  padding: 3em;
  padding-left: 5em;
}

.welcome div {
  margin: 1em 0;
}

.welcome div:nth-child(1) {
  font-weight: 600;
  font-size: 1.2em;
}
.h2 {
  font-weight: bold;
  font-size: 2.3em;
  color: rgba(0, 15, 11, 0.699);
  margin-top: 1em;
}
.excelImage {
  display: flex;
  justify-content: space-between;
}
.excelImage img {
  object-fit: cover;
  width: 38em;
}
.para {
  margin: 1em 0 1em 0;
  font-size: 20px;
}
.img {
  object-fit: cover;
  width: 100%;
}
.excelImage .para {
  padding-left: 1em;
}
.para li {
  margin-bottom: 10px;
}

.h3 {
  font-weight: bold;
  font-size: 2em;
  color: rgba(0, 15, 11, 0.699);
  margin-top: 1em;
}