.sendEmail {
  display: flex;
  height: 100%;
  margin-top: 8em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sendEmail button {
  width: fit-content;
  height: 3.5em;
  color: white;
  padding: 25px;
  border-radius: 1.75em;
  font-family: "Urbanist", sans-serif;
  font-size: 1.3em;
}

.sendEmail button {
  background-color: rgb(0, 201, 140);
}

.sendEmail button:hover {
  background-color: rgb(0, 201, 140);
}
.sendEmail button button {
  border: none;
  opacity: 1 !important;
  padding: 10px;
  text-transform: uppercase;    
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
  font-weight: 400 !important;
  font-family: "Urbanist", sans-serif !important;
  font-size: 1em !important;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 1em;
  position: absolute;
  bottom: 1em;
}

.center {
  text-align: center;
  align-content: center;
  height: 100%;
  display: grid;
}
.circleProgress > div {
  width: 200px !important;
  height: 200px !important;
}

.progress {
  padding: 5em;
  padding-bottom: 1em;
}
