.Button {
  padding: 0.6em;
  border-radius: 7px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
  background-color: #0152bd;
  color: aliceblue;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
  border: 0;
}
.Button:hover {
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.Button:active {
  transition: background-color 0.1s ease-in-out;
  background-color: #003b88;
}

.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
